{% include 'incl/header.twig' %}

<body>
    {% include 'incl/nav.twig' %}

 <div class="main" role="main">
    <div class="gallery">
                {{ content }} 

<a aria-label="." href="{{ base_url }}/image/bild1.jpeg">
    <picture>
        <source class="flash-img" media="(min-width: 1668px)" srcset="{{ base_url }}/image/bild1.jpeg?q=50"/>
        <source class="flash-img" media="(min-width: 378px)" srcset="{{ base_url }}/image/bild1.jpeg?w=30%"/>
        <img alt="." class="flash-img" srcset="{{ base_url }}/image/bild1.jpeg?w=50">
    </picture>
    </a>
<a aria-label="." href="{{ base_url }}/image/bild2.jpeg">
    <picture>
        <source class="flash-img" media="(min-width: 1668px)" srcset="{{ base_url }}/image/bild2.jpeg?q=50"/>
        <source class="flash-img" media="(min-width: 378px)" srcset="{{ base_url }}/image/bild2.jpeg?w=30%"/>
        <img alt="." class="flash-img" srcset="{{ base_url }}/image/bild2.jpeg?w=50">
    </picture>
    </a>
    <a aria-label="." href="{{ base_url }}/image/bild3.jpeg">
    <picture>
        <source class="flash-img" media="(min-width: 1668px)" srcset="{{ base_url }}/image/bild3.jpeg?q=50"/>
        <source class="flash-img" media="(min-width: 378px)" srcset="{{ base_url }}/image/bild3.jpeg?w=30%"/>
        <img alt="." class="flash-img" srcset="{{ base_url }}/image/bild3.jpeg?w=50">
    </picture>
    </a>
    <a aria-label="." href="{{ base_url }}/image/bild4.jpeg">
    <picture>
        <source class="flash-img" media="(min-width: 1668px)" srcset="{{ base_url }}/image/bild4.jpeg?q=50"/>
        <source class="flash-img" media="(min-width: 378px)" srcset="{{ base_url }}/image/bild4.jpeg?w=30%"/>
        <img alt="." class="flash-img" srcset="{{ base_url }}/image/bild4.jpeg?w=50">
    </picture>
    </a>

   <a aria-label="." href="{{ base_url }}/image/bild5.jpeg">
    <picture>
        <source class="flash-img" media="(min-width: 1668px)" srcset="{{ base_url }}/image/bild5.jpeg?q=50"/>
        <source class="flash-img" media="(min-width: 378px)" srcset="{{ base_url }}/image/bild5.jpeg?w=16%"/>
        <img alt="." class="flash-img" srcset="{{ base_url }}/image/bild5.jpeg?w=50">
    </picture>
    </a>

    <a aria-label="." href="{{ base_url }}/image/bild6.jpeg">
    <picture>
        <source class="flash-img" media="(min-width: 1668px)" srcset="{{ base_url }}/image/bild6.jpeg?q=50"/>
        <source class="flash-img" media="(min-width: 378px)" srcset="{{ base_url }}/image/bild6.jpeg?w=30%"/>
        <img alt="." class="flash-img" srcset="{{ base_url }}/image/bild6.jpeg?w=50">
    </picture>
    </a>
</div>  

<div class="embed-container">
    <iframe title="." src="https://www.youtube.com/embed/DyrKWMLzL1E" frameborder="0" allowfullscreen></iframe>
</div>
    
</div>
 
    {% include 'incl/footer.twig' %}
</body>

</html>
